
/* font-family: 'Big Shoulders Text', cursive; */

.nav-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	z-index: 100;
	left: 0;
	width: 100%;
	padding: 0;
	font-family: 'Big Shoulders Text', cursive;
}
.nav-flex-row li {
	text-decoration: none;
	list-style-type: none;
	padding: 20px 15px;
}
.nav-flex-row li a {
	width: 130px;
	height: 40px;
	font-size: 1.7em;
	cursor:pointer;
	background:none;
	color:white;
	border: none;
	transition:all .4s;
	font: cursive;
	font-family: unset;
}
.nav-flex-row li a:hover{
	color: yellowgreen;
	/*boder-radius: 5px;
	transform:translateY(-10px);*/

	/*box-shadow: 0 7px 0 -2px #f85959,
	0 18px 0 -4px #39a2db,
	0 19px 10px -3px #39a2db;*/
}
.second {
	height: 820px;
	background-image:url('11.jpeg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.second h1{
	text-align: center;
	color: ivory;
	text-decoration-style: wavy;
	font-style: italic;
	font-size: 4em;
	font-weight: 700;
	
}
.second header {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.third {
	flex: 1;
}
.aboutrestaurent {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: lightgoldenrodyellow;
	padding: 50px 30px;
}
.link-to-book {
	color: #ffffff;
	display: block;
	border: 2px solid #ffffff;
	background:black;
	padding: 5px 10px;
}
a.link-to-book:hover {
	background-color: #	color: black;
	text-decoration: none;
}
.aboutrestaurent
	{
		background-image:url('12.jpg');
		image background-size: auto;
	}
.aboutrestaurent p {
	text-align: center;
	align-items: center;
	width: 60%;
	color: lightgoldenrodyellow;
	margin: 5%;
	font-size: 1.8em;
	font-style: italic;
	/*text-transform: uppercase;*/	
}
.aboutrestaurent h3{
	text-align: center;
	width: 60%;
	color: lightgoldenrodyellow;
	margin: 5%;
	font-size: 1.8em;
	font-style: italic;
	text-align: center;
	align-items: center;
}

.fourth-image {
	height: 700px;
}

.row-flex {
	display: flex;
	flex-direction: row;
}
.flex-column-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 10px 10px;
}
.btn.btn-primary {
	font-family: 'Big Shoulders Text', cursive;
	color: #ffffff;
	background-color: #95999e;
	text-transform: uppercase;
	font-size: 16px;
	padding: 5px 10px;
	letter-spacing: 2px;
	border: 0;
}
.btn.btn-primary:hover {
	background-color: black;
}
.opening-time,
.contact-address {
	flex: 1;
	margin: 30px 20px;
	font-size: 1.2em;
}
.form-group,.opening-time,.contact-address
{
	font-family: 'Big Shoulders Text', cursive;
}
.form-group p {
	font-size: 1.2em;
}
.opening-time p span,
.contact-address p span {
	display: block;
}
@media (min-width:577px) and (max-width: 800px) 
{
	.second {
		height: 500px;
	}
	.aboutrestaurent p,
	.aboutrestaurent h3 {
		font-size: 20px;
		align-items: center;
		text-align: center;
	}
	.fourth-image {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
		color: lightblue;
		align-items: center;
		text-align: center;
	}
}
@media screen and (max-width: 576px) {
	.second {
		height: 300px;
	}
	.aboutrestaurent {
		padding: 30px;
	}
	.second h1 {
		font-size: 2em;
	}
	.aboutrestaurent p,
	.aboutrestaurent h3 {
		font-size: 15px;
		text-align: center;
	}
	.fourth-image {
		height: auto;
	}
	.row-flex {
		display: flex;
		flex-direction: column;
		color: lightblue;
	}
	.row-flex h3 {
		font-size: 25px;
		text-align: center;
		color: lightblue;
		text-align: center;
	}
	.form-group p {
		font-size: 15px;
	}
	.opening-time p span,
	.contact-address p span {
		font-size: 15px;
		text-align: center;
	}
.label {
	background-color: lightblue;
}

.primary-container {
	background-color: aliceblue;
}

.label {
	color: darkblue;
}
}
